* {
margin: 0px;
padding: 0px;
box-shadow: none;
}

body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #171d25;
}

.cabecalho {
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px 20px;
background-color: #1e2b3b;
}

.logo {
width: 140px;
height: auto;
}

.botao-menu {
background: none;
border: none;
color: white;
font-size: 24px;
cursor: pointer;
display: none; 
}

.menu-navegacao {
display: flex;
gap: 15px;
}

.menu-navegacao a {
color: white;
 -decoration: none;
font-weight: bold;
transition: color 0.5s;
}

.menu-navegacao a:hover {
  color: #66c0f4;
}
main {
padding: 20px;
background-color: #1b2838;
color: white;
}

.Lanca, .Ofertas {
text-align: left;
margin-bottom: 18px;
}

.Lançamentos,
.Ofertas-especiais {
display: flex;
flex-direction: row;
margin-bottom: 40px;
}

.Lancamento-preco {
margin-left: 2px;
color: #66c0f4;
font-weight: bold;
}

.para {
display: flex;
flex-direction: column;
justify-content: end;
margin-right: 120px;
margin-left: 10px;
}

.para a {
margin-top: 10px;
background-color: #66c0f4;
color: black;
text-decoration: none;
padding: 8px;
border-radius: 5px;
text-align: center;
width: fit-content;
}

.gta {
transition: transform 0.4s;
}

.gta:hover {
transform: scale(1.03);
}

.Lançamentos img, .qtdg {
border-radius: 8px;
}

.qtdg {
width: 700px;
height: 380px;
object-fit: cover;
border-radius: 8px;
margin-top: 20px;
margin-bottom: 20px;
}

.qtdp {
width: 329px;
height: 280px;
object-fit: cover;
border-radius: 8px;
margin-bottom: 20px;
}

.conjunto {
display: flex;
flex-direction: column;
}

.conjunto-reverso {
display: flex;
flex-direction: column;
gap: 20px;
margin-left: 420px;
}

.conjunto-pequeno {
display: flex;
gap: 20px;
}

.quadrogrande {
height: 220px;
}

.quadro-grande {
margin-bottom: 5px;
}

.quadro-pequeno {
margin-top: 20px;
}

.quadro-pequeno, .quadro-grande {
border-radius: 10px;
padding: 10px;
background-color: #1b2838;
transition: transform 0.3s;
}

.quadro-pequeno:hover, .quadro-grande:hover {
transform: scale(1.02);
}

footer {
text-align: center;
padding: 20px;
background-color: #171a21;
}

footer a {
color: #66c0f4;
text-decoration: none;
font-weight: bold;
}


@media (max-width: 768px) {

.botao-menu {
display: block;
}

  .menu-navegacao {
display: none;
flex-direction: column;
background-color: #1e2b3b;
position: absolute;
top: 65px;
left: 0;
width: 100%;
padding: 10px 0;
z-index: 100; 
}


.menu-navegacao.ativo {
display: flex; 
}

.logo {
width: 120px;
}

.conjunto-reverso {
margin-left: 0;
}

.conjunto-pequeno {
flex-direction: column;
}

.qtdp, .qtdg, .gta {
width: 100%;
height: auto;
}

.Lançamentos, .Ofertas-especiais {
flex-direction: column;
}
}

